<html>
<head>
    <title>Go web</title>
    <meta http-equiv="pragma" content="no-cache"  />
    <meta http-equiv="content-type" content="no-cache, must-revalidate" />
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT"/>
</head>
<body>
<img src="http://pic.58pic.com/58pic/17/14/79/66858PIChCy_1024.jpg" width="500" height="500">
<form id="registForm" onsubmit="return false">
    用户名:<input type="text" name="username">
    密码:<input type="password" name="password">
    <input type="submit" onclick="regist()" value="注册">
</form>
<a href="http://127.0.0.1:9090/html/login.html">登录</a>
</body>
<script src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
<script src="http://127.0.0.1:9090/js/regist.js"></script>
</html>